.card {
  transition: 0.2s ease-in-out;
}

.card p {
  color: rgb(108, 117, 125);
}

.card:hover {
  transform: scale(1.015);
  cursor: pointer;
}

.card:hover p {
  position: relative;
  color: rgb(248, 245, 241);
  z-index: 2;
}

.card:hover h2 {
  position: relative;
  color: rgb(248, 245, 241);
  z-index: 2;
}

.card:hover::after {
  content: "SHOP NOW";
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  padding-left: 2rem;
  padding-bottom: 2rem;
  font-size: 1.3rem;
  letter-spacing: 3.5px;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 7px;
  color: rgb(248, 245, 241);
  background-color: rgba(2, 84, 100, 0.534);
  animation: category-grid-shop-now 0.3s ease-in-out;
  transform-origin: top;
}

@keyframes category-grid-shop-now {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

@media screen and (max-width: 1000px) {
  .card img {
    max-width: 650px !important ;
  }
}
