.navbar-links {
  color: rgb(86, 88, 102);
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.navbar-links:hover {
  color: white;
  background-color: rgb(78, 79, 85);
  border-radius: 7px;
}
