.navbar-links {
  color: rgb(2, 84, 100);
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.navbar-links:hover {
  color: white;
  background-color: rgb(2, 84, 100);
  border-radius: 7px;
}
